<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test application - Home</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p>{{body}}</p>
    <p><em>Last update: {{timestamp}}</em></p>
</body>
</html>